/* resete do CSS */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    /* background-image: url("../img/tecido-degrade-azul-liso-sublimado-180-cm-x-40-cm-estampa-saia-vestido-infantil.jpg"); adicionar foto de fundo */
    background-color: #02323f;
    font-family: 'Roboto', sans-serif;
    background-size: auto 100vh;
    height: 100vh;
    font-size: 14px;
}

/* condição, se a tela tiver pelo menos 400px vai carregar estes estilos */
@media (min-width: 400px) {
    body {
        font-size: 14px;
    }
}

@media (min-width: 600px) {
    body {
        font-size: 18px;
    }
}

/* display flex, deixar em coluna 
justify-content e align-items só funciona devido o flex */
header {
    height: 100vh; 
    display: flex;
    justify-content: center; /*horinzoltal*/
    align-items: center; /*vertical*/
}

.Menu {
    background-color: whitesmoke;
    position: fixed;
    width: 100vw;
    top: 0; /*só funciona com o position, cola no top da pagina*/
}

.Menu ul {
    display: flex;
    justify-content: space-around;
}

/* lsit deixa um do lado do outro */
.Menu li {
    list-style: none;
}

.Menu a {
    display: block;
    padding: 10px 20px;
}

/* tirar o underline */
a {
    text-decoration: none;
    color: #1b5466;
}

/* quando o mouse passar por cima */
a:hover {
    color: tomato;
}

/* centralizar texto */
.subtitle,
.title {
    text-align: center;
    color: whitesmoke;
}

.title {
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

.subtitle {
    font-family: 'Source Code Pro', monospace;
}

/* .img-portfolio {
    width: 180px;
    height: 180px;
} Tamanho da imagem */

.porti h2 {
    font-family: 'Source Code Pro', monospace;
    color: whitesmoke;
    margin-bottom: 0.5em;
    text-align: center;
    font-size: 2em;
}

.porti {
    padding: 2em;
}

.porti .grid {
    display: grid;
    gap: 2em;
}

@media (min-width: 444px) {
    .porti .grid {
        grid-template-columns: 180px 180px;
        justify-content: center;
    }
}

@media (min-width: 690px) {
    .porti .grid {
        grid-template-columns: 180px 180px 180px;
        justify-content: center;
    }
}

@media (min-width: 1000px) {
    .porti .grid {
        grid-template-columns: repeat(4, 180px);
        justify-content: space-around;
    }
}
 
.porti figure {
    font-family: 'Source Code Pro', monospace;
    text-align: center;
    color: whitesmoke;
}